<div id="about-me" class="col-md-offset-3 col-md-6">
    <h4>about me</h4>

    <p>I'm a full stack dev from France working in Europe. I build advanced web apps with Java back-ends and front-ends in Angular, Ember, GWT ...</p>

    <p>Here you can find some tutorials, sample projects and other things. I also enjoy cooking so you might find a few recipes here and there. Don't be
    scared, cooking is just like coding.</p>

    <div class="social-icon-list">
        {% if site.twitter_user %}
        <a title="Twitter" href="https://twitter.com/{{ site.twitter_user }}"><img src="/images/glyphicons_social_31_twitter.png"/></a>
        {% endif %}
        {% if site.github_user %}
        <a title="GitHub" href="https://github.com/{{ site.github_user }}"><img src="/images/glyphicons_social_21_github.png"/></a>
        {% endif %}
        {% if site.linkedin_user %}
        <a title="LinkedIn" href="https://linkedin.com/in/{{site.linkedin_user}}"><img src="/images/glyphicons_social_17_linked_in.png"/></a>
        {% endif %}
        {% if site.email %}
        <a title="E-Mail" href="mailto:{{ site.email }}"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
        {% endif %}
        {% if site.stackoverflow_careers %}
        <a title="Stack Overflow" href="http://careers.stackoverflow.com/{{site.stackoverflow_careers}}"><img
                src="/images/glyphicons_400_stack_overflow.png"/></a>
        {% endif %}
    </div>
</div>
