---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
    font-size: 16px; // change to whatever

    @include breakpoint($medium) {
        font-size: 14px; // change to whatever
    }

    @include breakpoint($large) {
        font-size: 16px; // change to whatever
    }

    @include breakpoint($x-large) {
        font-size: 18px; // change to whatever
    }
}

.small-grey {
    font-size: .85em;
    color: #7a8288;
}

.pull-right {
    float: right;
}

.mt-2 {
    margin-top: .25em;
}

.minimal-gallery img {
    // transform: scale(1, .75);
}