<nav class="navbar navbar-clear navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home nav-icon"></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse nav-search" id="bs-example-navbar-collapse-1">
            {% if site.simple_search %}
            <form class="navbar-form navbar-left" role="search" action="{{ site.simple_search}}" method="get">
                <div class="form-group">
                    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
                    <input class="search form-control" type="text" name="q" results="0" placeholder="Search"/>
                </div>
            </form>
            {% endif %}
            {% include custom/navigation.html %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
