---
layout: default
---
<!-- Hero ================================================== -->
<div class="jumbotron hero">
    <div class="container">
        {% include custom/hero.html %}
    </div>
</div>

<!-- About Field ================================================== -->
<div class="home-about">
    <div class="container">
        {% include custom/home_landing_row.html %}
    </div>
</div>

<!-- Posts List ================================================== -->
<div class="article-list">
    <div class="container">
        {% for post in paginator.posts %}
        {% assign content = post.content %}
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                {% include article_listing.html %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<hr class="divider-short"/>

<!-- Navigation List ================================================== -->
<div class="archive-link">
    {% if paginator.next_page %}
    <a class="prev" href="{{paginator.next_page_path}}">&larr; Older</a>
    {% endif %}
    <a href="/allposts/"><h3>All Posts</h3></a>
    {% if paginator.previous_page %}
    <a class="next" href="{{paginator.previous_page_path}}">Newer &rarr;</a>
    {% endif %}
</div>